BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
ColumnLimit: 90
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
# RemoveBracesLLVM: true
RemoveParentheses: ReturnStatement
RemoveSemicolon: true
NamespaceIndentation: All
FixNamespaceComments: false
BinPackArguments: false
BinPackParameters: false
AllowShortBlocksOnASingleLine: Always
SpaceInEmptyBlock: true
AlignAfterOpenBracket: BlockIndent
AlwaysBreakTemplateDeclarations: true
