UseTab: Never
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
NamespaceIndentation: All
FixNamespaceComments: false
BinPackArguments: false
AllowShortBlocksOnASingleLine: Always
SpaceInEmptyBlock: true
InsertBraces: true
